absl-py==1.0.0
alabaster==0.7.12
appnope==0.1.3
asttokens==2.0.7
Babel==2.10.3
backcall==0.2.0
blis==0.7.9
blosc==1.10.6
Brotli==1.0.9
cachelib==0.9.0
cachetools==5.0.0
catalogue==2.0.8
certifi
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.0.0
colorama==0.4.5
confection==0.0.4
contourpy==1.0.5
cycler==0.11.0
cymem==2.0.7
dash==2.7.0
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-extensions==0.0.32rc10
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
docutils==0.17.1
EditorConfig==0.12.3
executing==0.10.0
Flask==2.2.2
Flask-Caching==1.11.1
Flask-Compress==1.13
fmq==0.1
fonttools==4.33.3
google-auth==2.6.6
google-auth-oauthlib==0.4.6
grpcio==1.46.1
gym==0.23.1
gym-notices==0.0.6
idna==3.3
imagesize==1.4.1
importlib-metadata==4.11.3
ipython==8.4.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsbeautifier==1.14.7
kiwisolver==1.4.2
langcodes==3.3.0
Mako==1.2.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
more-itertools==8.14.0
mplcursors==0.5.1
mpldatacursor==0.7.1
murmurhash==1.0.9
nltk==3.7
numpy==1.22.3
oauthlib==3.2.0
packaging==21.3
pandas==1.4.2
parso==0.8.3
pathy==0.10.1
pdoc3==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
plotly==5.10.0
preshed==3.0.8
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.4
Pygments==2.12.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
regex==2022.10.31
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
smart-open==6.3.0
snowballstemmer==2.2.0
spacy==3.4.4
spacy-legacy==3.0.11
spacy-loggers==1.0.4
spacytextblob==4.0.0
Sphinx==5.1.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
srsly==2.4.5
stack-data==0.4.0
tenacity==8.1.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
textblob==0.15.3
thinc==8.1.7
threadpoolctl==3.1.0
torch==1.11.0
torch-tb-profiler==0.4.0
tqdm==4.64.1
traitlets==5.3.0
typer==0.7.0
typing_extensions==4.2.0
urllib3==1.26.9
wasabi==0.10.1
wcwidth==0.2.5
Werkzeug==2.2.2
attrdict3==2.0.2
zipp==3.8.0
